.DS_Store
dgl_lifesci_examples/property_prediction/__pycache__/*
dgl_lifesci_examples/property_prediction/.ipynb_checkpoints/*
dgl_lifesci_examples/property_prediction/*.bin
dgl_lifesci_examples/property_prediction/data/*

dgl_lifesci_examples/generative_models/chembl/download_allcompds_1920643.tsv
dgl_lifesci_examples/generative_models/.ipynb_checkpoints/*

dgl_lifesci_examples/generative_models/chembl/canonical/*
!dgl_lifesci_examples/generative_models/chembl/canonical/*.pth
!dgl_lifesci_examples/generative_models/chembl/canonical/val_loss.dat

dgl_lifesci_examples/generative_models/chembl/canonical2_2023-12-18/*
!dgl_lifesci_examples/generative_models/chembl/canonical2_2023-12-18/*.pth
!dgl_lifesci_examples/generative_models/chembl/canonical2_2023-12-18/val_loss.dat

dgl_lifesci_examples/generative_models/chembl/canonical3_2023-12-21/*
!dgl_lifesci_examples/generative_models/chembl/canonical3_2023-12-21/*.pth
!dgl_lifesci_examples/generative_models/chembl/canonical3_2023-12-21/val_loss.dat

dgl_lifesci_examples/generative_models/chembl/canonical4_2023-12-22/*
!dgl_lifesci_examples/generative_models/chembl/canonical4_2023-12-22/*.pth
!dgl_lifesci_examples/generative_models/chembl/canonical4_2023-12-22/val_loss.dat
!dgl_lifesci_examples/generative_models/chembl/canonical4_2023-12-22/training_loss_summary.dat
!dgl_lifesci_examples/generative_models/chembl/canonical4_2023-12-22/training_loss.png

dgl_lifesci_examples/generative_models/chembl/canonical5_2023-12-28/*
!dgl_lifesci_examples/generative_models/chembl/canonical5_2023-12-28/*.pth
!dgl_lifesci_examples/generative_models/chembl/canonical5_2023-12-28/*.py
!dgl_lifesci_examples/generative_models/chembl/canonical5_2023-12-28/*.png
!dgl_lifesci_examples/generative_models/chembl/canonical5_2023-12-28/val_loss.dat


dgl_lifesci_examples/generative_models/debug/*
